.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px 16px;
  max-width: 1680px;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.header__image {
  width: 181px;
  object-fit: contain;
}

.header__searchbox {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: pink;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 10px;
}
.header__searchBoxInput {
  height: 100%;
  width: 100%;
  border: 1px solid #dadcdf;
  border-radius: 4px 0 0 4px;
  background-color: #f9fafb;
  padding: 0 10px;
  font-size: 16px;
}
.header__searchIcon {
  background-color: #ff1f2c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__navLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  /* width: 700px; */
}
.header__navLinks>*{
    text-decoration: none;
    margin-right: 20px;
    /* background-color: violet; */
    min-width: 55px;
}
.header__navLinks>*:first-child{
  margin-left: 15px;
}
.header__navLinks>button{
  width: max-content;
}
.header__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.header__linkText{
    font-size: 12px;
    line-height: 1;
}

.header__cartLink{
    position: relative;
}
.header__cartLink>span:last-child{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    color: #ff1f2c;
    font-weight: 700;
    font-size: 10px;

}


@media(max-width: 767px){
  .header{
    flex-direction: column;
    height: 180px;
  }
  .header__navLinks {
  margin: 20px auto 0;
}
}